.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Sentry Auth Token
.sentryclirc
/test-results/
/playwright-report/
/playwright/.cache/
.vercel

# Social previews
static/socialpreview**

.zed
scripts/deleteAllMoves.js

scripts/manual-sprites/*-input
scripts/manual-sprites/*-output
*storybook.log
storybook-static