:root {
    --red-accent-light: #F54848;
    --red-accent-muted-light: #d74141;
    
    --grey-primary-light: #ece9e9;
    --grey-muted-light: #bdbdbd; 
    
    --text-light: #333333;
    --text-inverse-light: #edebeb;

    --site-background-light: rgb(225, 221, 221);

    --card-background-light: rgb(232, 232, 232);
    --card-hover-light: #d1bdbd;

    --select-background-light: rgb(218, 218, 218);
}

.dark-theme {
    --red-accent: #CE3939;
    --red-accent-muted: #9b3434;

    --grey-primary: #888888;
    --grey-muted: #aaa9a9; 

    --text: #E7E2E2;
    --text-inverse: #000000;

    --site-background: rgb(43, 43, 43);

    --card-background: rgb(26, 26, 26);
    --card-hover: #534f4f;

    --select-background: rgb(49, 49, 49);
}

:root {
    --red-accent: var(--red-accent-light);
    --red-accent-muted: var(var(--red-accent-muted-light));

    --grey-primary: var(--grey-primary-light);
    --grey-muted: var(--grey-muted-light);

    --text: var(--text-light);
    --text-inverse: var(--text-inverse-light);

    --site-background: var(--site-background-light);

    --card-background: var(--card-background-light);
    --card-hover: var(--card-hover-light);

    --select-background: var(--select-background-light);
}

