
input[type='email'],
input[type='password'],
input[type='text'],
textarea {
	border-radius: 5px;
	padding: 5px;
	color: #2b2a2a;
}

input[type='email'].tight,
input[type='password'].tight,
input[type='text'].tight,
textarea {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="checkbox"] {
	appearance: none;

	margin-right: 10px;

	background-color: var(--select-background);

	outline: none;
	
	width: 18px;
	height: 18px;

	border-radius: 3px;

	padding: 12px;

	display: flex;
    justify-content: center;
    align-items: center;

	margin-top: auto;
	margin-bottom: auto;
}

input[type="checkbox"].nested {
	background-color: var(--grey-muted);
}

:global(.dark-theme) input[type="checkbox"].nested {
	background-color: var(--grey-primary-dark);
}

input[type="checkbox"]:checked:before {
	content: '✔';
	color: var(--text);


	display: flex;
    justify-content: center;
    align-items: center;

	height: 100%;

}

input[type="checkbox"]:hover {
	cursor: pointer;
}

label:hover {
	cursor: pointer;
}