@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'tailwindcss';
@import './design-tokens.css';

* {
	font-family: 'Roboto', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'slnt' 0;
}

html {
	font-family: 'Roboto', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'slnt' 0;
}

.sveltekit-body {
	display: contents;
}

.h1,
.h1 * {
	font-weight: 600;
	font-size: xx-large;
	padding-bottom: 0.25rem;
}

.h2,
.h2 * {
	font-weight: 500;
	font-size: x-large;
	padding-bottom: 0.25rem;
}

.h3,
.h3 * {
	font-weight: 500;
	font-size: large;
	padding-bottom: 0.1rem;
}

.h4,
.h4 * {
	font-weight: 500;
	padding-bottom: 0.1rem;
}

.columns {
	display: flex;
	flex-wrap: wrap;
}

.column {
	flex: 1;
	box-sizing: border-box;
}

@media (max-width: 768px) {
	div.columns:not(.mobile) {
		flex-direction: column;
	}
}

#pageWrapper {
	overflow-wrap: anywhere;
	margin: 3%;
	min-height: 40vh;
}

/* Mobile Only */
@media screen and (max-width: 768px) {
	#pageWrapper {
		margin: 5%;
	}

	.desktop-only {
		display: none;
	}
}

/* Desktop Only */
@media screen and (min-width: 768px) {
	.mobile-only {
		display: none;
	}
}

input[type='email'],
input[type='password'],
input[type='text'],
textarea {
	height: 3vw;
	min-height: 34px;
	border-radius: 5px;
	padding: 5px;
	color: #2b2a2a;
}

input[type='email'].tight,
input[type='password'].tight,
input[type='text'].tight,
textarea {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

input[type='checkbox'] {
	appearance: none;
	margin-right: 10px;
	background-color: var(--select-background);
	outline: none;
	width: 18px;
	height: 18px;
	border-radius: 3px;
	padding: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: auto;
	margin-bottom: auto;
}

input[type='checkbox'].nested {
	background-color: var(--grey-muted);
}

.dark-theme input[type='checkbox'].nested {
	background-color: var(--grey-primary-dark);
}

input[type='checkbox']:checked:before {
	content: '✔';
	color: var(--text);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

input[type='checkbox']:hover,
label:hover {
	cursor: pointer;
}

button.error,
button.button.default.error {
	background-color: var(--error);
	font-weight: 500;
	color: var(--text-inverse);
}

button.error:hover,
button.button.default.error:hover {
	background-color: var(--error);
	color: var(--text-inverse);
	opacity: 0.9;
}

body {
	background-color: var(--site-background);
}

hr {
	border-color: var(--text);
	height: 0.2rem;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}

p,
h1,
h2,
h3,
h4,
h5,
th,
i,
b,
button,
td,
li,
label,
a {
	color: var(--text);
}

a:not(.no-underline):not(.no-style) {
	text-decoration: underline;
}

a.no-style {
	text-decoration: none;
}
