@import url('./fonts.css');
@import url('./colours.css');
@import url('./tailwind.css');
@import url('./layout.css');
@import url('./helpers.css');
@import url('./elements.css');
@import url('./states.css');

body {
	background-color: var(--site-background);
}

p,
h1,
h2,
h3,
h4,
h5,
th,
i,
b,
button,
td,
li,
label,
a {
	color: var(--text);
}

a {
	text-decoration: underline;
}
