.column > .card {
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 768px) {
	.column {
		padding-left: 0;
		padding-right: 0;
	}

	.column {
		display: grid;
		justify-content: center;
	}

	.column > .card {
		min-width: 100%;
	}
}

@media screen and (min-width: 768px) {
	.column:first-child {
		padding-left: 0;
	}
	.column:last-child {
		padding-right: 0;
	}

	.column > .card {
		min-width: 33.3333334%;
		height: 80%;
	}

	.otdWrapper > div {
		max-width: 100%;
	}
}

.otdWrapper > div {
	margin: 0;
	padding: 0;
}