@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--branding-secondary: #3d3938;
	--highlight: #3a48b4;
	--success: #157817;
	--warning: #f0a54a;
	--error: #dd4141;
	--error-bg: #a8414d;

	--dark: #313131;
	--dark_secondary: rgb(43, 43, 43);
	--dark_accent: rgb(26, 26, 26);
	--dark_link_hover: rgb(164, 164, 164);

	--light: #dadada;
	--light_secondary: #e2dddd;
	--light_accent: #e8e8e8;
	--light_link_hover: rgb(157, 157, 157);

	--text: var(--dark);
	--text-inverse: var(--light);

	--bg-primary: var(--light_secondary);

	--primary: var(--light);
	--secondary: var(--light_secondary);
	--accent: var(--light_accent);
	--link_hover: var(--light_link_hover);
}

.dark-theme {
	--text: var(--light);
	--text-inverse: var(--dark);
	--bg-primary: var(--dark_secondary);

	--primary: var(--dark);
	--secondary: var(--dark_secondary);
	--accent: var(--dark_accent);
	--link_hover: var(--dark_link_hover);
}

/* Mobile Only */
@media screen and (max-width: 768px) {
	#pageWrapper {
		margin: 5%;
		overflow-wrap: anywhere;
	}
	.desktop-only {
		display: none;
	}
}

/* Desktop only */
@media screen and (min-width: 768px) {
	#pageWrapper {
		margin: 3%;
		overflow-wrap: anywhere;
	}
	.mobile-only {
		display: none;
	}
}
p,
h1,
h2,
h3,
h4,
h5,
i,
b,
button,
a {
	color: var(--text);
}

a {
	text-decoration-line: underline;
}

a.no-style {
	text-decoration: none;
}

h1 {
	font-size: xx-large;
	padding-bottom: 1rem;
}

h2 {
	font-size: x-large;
	padding-bottom: 0.75rem;
}

h3 {
	font-size: large;
	padding-bottom: 0.5rem;
}

h4 {
	font-size: larger;
}

h5 {
	font-size: medium;
	font-weight: bold;
}

body {
	background-color: var(--bg-primary);
}

hr {
	background-color: var(--primary);
	height: 0.2rem;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}

#pageWrapper {
	min-height: 40vh;
}

footer {
	width: 100%;
	border-top: 1px solid var(--text);
	padding-top: 0.5rem;
	text-align: center;
}

button.button {
	background-color: var(--accent);
	color: var(--text);
	padding: 1rem;
	border-radius: 10px;
}

button:hover {
	background-color: var(--secondary);
}

button:disabled {
	font-style: italic;
	cursor: not-allowed;
	background-color: var(--primary);
	/* background-color: #e2dddd; */
	color: var(--accent);
}

button.button.secondary {
	background-color: var(--secondary);
	color: var(--text);
	padding: 1rem;
	border-radius: 10px;
}

button.secondary:disabled {
	background-color: #8c7878;
	color: var(--light);
}

button.button.secondary:hover {
	background-color: var(--primary);
}

div.columns {
	display: flex;
	flex-wrap: wrap;
}

div.column {
	flex: 1;
	padding: 10px;
	box-sizing: border-box;
}

@media (max-width: 768px) {
	div.columns:not(.mobile) {
		flex-direction: column;
	}
}

.card {
	background-color: var(--accent);
	padding: 2em;
	border-radius: 10px;
	height: 100%;
	display: inline-block;
	width: 100%;
}

.card > .triangle {
	position: absolute;
	bottom: 0;
	width: 0;
	height: 0;
}

.triangle:hover {
	background-color: inherit;
}

.card > .triangle.right {
	right: 0;
	border-bottom-right-radius: 10px;
	border-left: 4rem solid transparent;
	border-bottom: 4rem solid;
}

.card > .triangle.left {
	left: 0;
	border-bottom-left-radius: 10px;
	border-right: 4rem solid transparent;
	border-bottom: 4rem solid;
}

select {
	color: var(--text);
	background-color: var(--primary);
	width: 100%;
	height: 50px;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-left: 1em;
	margin-right: 1em;
	border-radius: 10px;
	/* Remove the default arrow */
	appearance: none;
}

select:hover,
select:hover::after {
	cursor: pointer;
	background-color: var(--link_hover);
}

label {
	color: var(--text);
}

label:hover {
	cursor: pointer;
}

button.toggle {
	background-color: var(--accent);
	border-radius: 10px;
}
button.toggle:hover {
	background-color: var(--link_hover);
}

.clickable:hover {
	cursor: pointer;
	background-color: var(--link_hover);
}

img.icon {
	margin: 0;
	padding: 0;
	display: inline;
	height: 50px;
}

#backToTop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: var(--highlight);
	color: var(--light);
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	z-index: 1000;
	font-size: 16px;
}

div.column.centered {
	display: flex;
	justify-content: center;
}

img.sprite {
	width: 15vw;
	max-width: 96px;
}

div.spriteWrapper {
	width: 15vw;
	max-width: 96px;
}

input[type='email'],
input[type='password'],
input[type='text'] {
	height: 3vw;
	min-height: 34px;
	border-radius: 5px;
	padding: 5px;
	color: var(--dark);
}

button.error {
	font-weight: bold;
	background-color: var(--error);
	color: var(--light);
}
button.button.error:hover {
	background-color: var(--error-bg);
}
.error {
	color: var(--error);
}

@keyframes slideInFromBelow {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.notifications {
	width: 100%;
	position: fixed;
	display: grid;
	padding-top: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
}
.notifications .notification:last-child {
	margin-bottom: 0;
}
.notification {
	animation: 0.3s ease-out 0s 1 slideInFromBelow;
	margin-bottom: 1rem;
	padding: 0.5rem;
	justify-content: center;
	border-radius: 0.5rem;
}

.notification.success,
button.notification.success:hover {
	color: var(--light);
	background-color: var(--success) !important;
}

.notification.failure,
button.notification.failure:hover {
	color: var(--light);
	background-color: var(--error-bg) !important;
}

.notification.info,
button.notification.info:hover {
	color: var(--light);
	background-color: var(--highlight) !important;
}
